
#build{
    width: 50%;
  
}
#inp{
    margin-left:30px ;
}
#text{
    background-color: black;
    color: whitesmoke;
    width: 50%;
    text-align: center;
}
#donate{
    background-color:#088F8F ;
    color: purple;
    height: 30px; 

}
#btn{
   width: 200px;
   height: 30px ;
   text-align: center;
}
#don{
    margin-left:35%;
}
#im{
    margin-right: 50%;
    margin-left: 25%;
    width: 600px;
    height: 400px;
}
#every{
    margin-left:3% ;
}